.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .board-wrap {
    flex: 1;

    .board {
      //width: 680px;
      //height: 680px;
      //border-radius: 340px;
      margin: auto;
      background: url("./assets/images/board-bg3.jpg");
      background-size: cover;
      box-shadow: 0 0 20px #bbb;

      //transform:rotate(7deg);
      //-ms-transform:rotate(7deg); 	/* IE 9 */
      //-moz-transform:rotate(7deg); 	/* Firefox */
      //-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
      //-o-transform:rotate(7deg);

      .board-row {
        text-align: center;
        //height: 40px;

        button {
          //width: 40px;
          //height: 40px;
          //border-radius: 20px;
          border-style: none;
          outline: none;
          //background-image: radial-gradient(at 80px 80px, rgba(0,0,0,0), red);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .btns {
    width: 400px;
    z-index: 999;

    > div {
      border: 1px solid #999;
      margin-bottom: 10px;
      padding: 0 10px 10px;
      background: #ddd;

      h4 {
        margin: 15px 0;
      }
    }

    .player-num {
      button {
        margin: 6px;
      }
    }

    .circles-color-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .color-item {
        cursor: pointer;
        margin: 0 5px 5px 0;

        input {

        }

        button {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          border-style: none;
          outline: none;
          //cursor: pointer;

        }
      }
    }

    .rotate-board {
      .btn-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-constent: space-between;

        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}