.game {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  .board-wrap {
    flex: 1;

    .board {
      //width: 680px;
      //height: 680px;
      //border-radius: 340px;
      margin: auto;
      background: url("./assets/images/board-bg3.jpg");
      background-size: cover;
      box-shadow: 0 0 20px #888;

      //transform:rotate(7deg);
      //-ms-transform:rotate(7deg); 	/* IE 9 */
      //-moz-transform:rotate(7deg); 	/* Firefox */
      //-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
      //-o-transform:rotate(7deg);

      .board-row {
        text-align: center;
        //height: 40px;

        button {
          //width: 40px;
          //height: 40px;
          //border-radius: 20px;
          border-style: none;
          outline: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .btns {
    width: 300px;
    z-index: 999;

    > div {
      border: 1px solid #999;
      margin-bottom: 10px;
      padding: 0 15px 15px;
      background: #ddd;
    }

    .player-num {
      button {
        margin: 10px;
      }
    }

    .rotate-board {
      .btn-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-constent: space-between;

        button {
          margin-bottom: 10px;
        }
      }
    }
  }
}